<div class="section-header">
  <h2>Programme</h2>
  <p>Voici le programme de la retraite</p>
</div>

<ng-container *ngIf="agenda$ | async as agenda">
  <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">

    <ng-container *ngFor="let agendaItem of agenda.agendaItems; first as isFirst; index as index">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isFirst}" [href]="'#day-'+ index" role="tab" data-toggle="tab">
          {{'Jour '}} {{index + 1}}</a>
      </li>
    </ng-container>
  </ul>

  <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">


    <ng-container *ngFor="let agendaItem of agenda.agendaItems; first as isFirst; index as index">

      <!-- Schdule Day  -->
      <div role="tabpanel" class="col-lg-9 tab-pane fade show" [ngClass]="{'active': isFirst}" [id]="'day-'+ index">

        <ng-container *ngFor="let scheduleItem of agendaItem.schedule">
          <div class="row schedule-item">
            <div class="col-md-2">
              <time>{{scheduleItem.dateTime | date:'h:mm'}}</time>
            </div>
            <div class="col-md-10">
              <!--              <div class="speaker">-->
              <!--                <img src="assets/img/speakers/1.jpg" alt="Brenden Legros">-->
              <!--              </div>-->
              <h4>{{scheduleItem.title}} <span>{{scheduleItem.speaker}}</span></h4>
              <p>{{scheduleItem.description}}</p>
            </div>
          </div>
        </ng-container>

      </div>
      <!-- End Schdule Day  -->
    </ng-container>

  </div>
</ng-container>
