<!-- Countdown 1-->
<div class="rounded bg-gradient-1 text-white text-center mb-1">
  <h1 class="mb-4 pb-0">La retraite de la<br><span>jeunesse</span> de la NJ Liège</h1>
  <div class="d-flex justify-content-center">
    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
       data-autoplay="true"></a>
  </div>
  <p class="mb-4 pb-0">Du 12 au 14 Fevrier 2021</p>
  <div id="clock-b" class="countdown-circles d-flex flex-wrap justify-content-center"></div>
</div>
<a href="#buy-tickets" class="about-btn scrollto">S'inscrire</a>
