<!-- ======= Header ======= -->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <a class="scrollto" href="#">
        <img src="assets/img/Logo2.png" height="40" width="120">
      </a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu smooth-scroll">
        <ng-container *ngFor="let item of menu; first as isFirst; last as isLast">
          <li [ngClass]="{'menu-active': isFirst, 'buy-tickets' : isLast}">
            <a [href]="item.id" (click)="$event.preventDefault()">{{item.title}}</a>
          </li>
        </ng-container>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- End Header -->

<main id="main">
  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
      <app-intro></app-intro>
    </div>
  </section><!-- End Intro Section -->

  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <app-about></app-about>
    </div>
  </section><!-- End About Section -->

  <!-- ======= Speakers Section ======= -->
  <section id="speakers">
    <div class="container" data-aos="fade-up">
      <app-speaker></app-speaker>
    </div>

  </section><!-- End Speakers Section -->

  <!-- ======= Schedule Section ======= -->
  <section id="schedule" class="section-with-bg">
    <div class="container" data-aos="fade-up">
      <app-schedule></app-schedule>
    </div>

  </section><!-- End Schedule Section -->

  <!-- ======= Buy Ticket Section ======= -->
  <section id="buy-tickets">
    <div class="container" data-aos="fade-up">
      <app-register></app-register>
    </div>

  </section><!-- End Buy Ticket Section -->

  <!-- =======  F.A.Q Section ======= -->
  <section id="faq" class="section-with-bg">
    <div class="container" data-aos="fade-up">
      <app-faq></app-faq>
    </div>

  </section><!-- End  F.A.Q Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <img src="assets/img/Logo2.png" height="40" width="120">
          <p>La nouvelle Jerusalem Liège</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Lien</h4>
          <ul class="smooth-scroll">
            <ng-container *ngFor="let item of menu; first as isFirst; last as isLast">
              <li><i class="fa fa-angle-right"></i>
                <a [href]="item.id" (click)="$event.preventDefault()">{{item.title}}</a>
              </li>
            </ng-container>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            <strong>Phone:</strong> +32 494 44 55 38<br>
            <strong>Phone:</strong> +32 473 34 47 81<br>
            <strong>Email:</strong> jeunessenjl@gmail.com<br>
          </p>

          <div class="social-links">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-youtube"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Jeunesse NJL</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://www.kanelu.com/" target="_blank">Kanelu</a>
    </div>
  </div>
</footer><!-- End  Footer -->


